.Header {
     border-radius: 0 0 40px 40px;

     padding-top: 140px;
     padding-left: 148px;
     padding-right: 148px;

     width: 100%;
     height: var(--max-screen-height);

     background-image: url("../../Assets/Images/headerBackground.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
@media screen and (max-width: 1680px) {
     .Header {
          padding: 30px;
          padding-top: 140px;
     }
}

@media screen and (max-width: 1280px) {
     .Header {
          height: auto;
     }
}
@media screen and (max-width: 1080px) {
     .Header {
          padding-top: 20px;
     }
}
@media screen and (max-width: 545px) {
     .Header {
          padding: 20px;
     }
}
@media screen and (max-width: 360px) {
     .Header {
          padding: 0px;
     }
}
.container {
     margin: 0 auto;
     position: relative;

     border-radius: 40px;

     max-width: 1384px;
     width: 100%;
     max-height: 900px;
     height: 100%;

     background-image: url("../../Assets/Images/headerContainer.png");
     background-repeat: no-repeat;
     backdrop-filter: blur(15px);
     background-color: rgb(0 0 0 / 23%);

     display: flex;
     justify-content: space-between;
}

@media screen and (max-width: 1280px) {
     .container {
          max-height: 900px;

          justify-content: flex-end;
          align-items: flex-end;
     }
}

@media screen and (max-width: 768px) {
     .container {
          align-items: flex-start;
     }
}
.logoImage {
     transition: 0.5s;
     position: relative;
     top: 15px;
     left: -148px;

     max-width: 800px;
     max-height: 793px;
     width: 100%;
     height: 100%;
}
@media screen and (max-width: 1680px) {
     .logoImage {
          top: 30%;
          transform: translate(0, -30%);
          left: 15px;

          max-width: 40vw;
          max-height: 40vw;
     }
}

@media screen and (max-width: 1280px) {
     .logoImage {
          display: none;
     }
}
@media screen and (max-width: 768px) {
     .logoImage {
          display: none;
     }
}
.content {
     padding: 50px 40px 20px;

     max-width: 600px;
     width: 100%;

     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     align-items: flex-end;

     text-align: end;
}
@media screen and (max-width: 1280px) {
     .content {
          max-width: 100%;
     }
}
.accientText {
     margin-bottom: 35px;

     font-weight: 600;
     font-size: 2.25rem;
}
.firstSubText {
     margin-bottom: 22px;

     font-weight: 500;
     font-size: 2.25rem;
}
@media screen and (max-width: 545px) {
     .firstSubText {
          font-size: 1.5rem;
     }
}
.heroText {
     margin-bottom: 22px;

     font-weight: 800;
     font-size: 4rem;
}
@media screen and (max-width: 1280px) {
     .heroText {
          font-size: 3rem;
     }
}
@media screen and (max-width: 545px) {
     .heroText {
          font-size: 2rem;
     }
}
.secondSubText {
     margin-bottom: 200px;

     font-weight: 500;
     font-size: 2.25rem;
}
@media screen and (max-width: 545px) {
     .secondSubText {
          margin-bottom: 20px;
          font-size: 1.5rem;
     }
}
.button {
     margin-bottom: 28px;

     border-radius: 60px;

     padding: 30px 0;

     width: 100%;

     background: var(--header-button-background);

     font-size: 1.75rem;
     font-weight: 600;
}
@media screen and (max-width: 545px) {
     .button {
          padding: 15px;

          font-size: 1.5rem;
     }
}
.buttonSubText {
     text-align: center;
}
