.Header {
     border-radius: 0 0 40px 40px;

     padding-top: 140px;

     width: 100%;
     height: var(--max-screen-height);

     background-image: url("../../Assets/Images/headerBackground.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.container {
     margin: 0 auto;

     border-radius: 40px;

     max-width: var(--max-container-width);
     width: 100%;
     max-height: 900px;
     height: 100%;

     background-image: url("../../Assets/Images/headerContainer.png");
     backdrop-filter: blur(15px);
     background-color: rgb(0 0 0 / 23%);

     display: flex;
     justify-content: flex-end;
}

.logoImage {
     position: absolute;
     top: 2px;
     left: -145px;
}

.content {
     padding: 50px 40px 20px;

     max-width: 600px;
     width: 100%;

     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     align-items: flex-end;

     text-align: end;
}

.accientText {
     margin-bottom: 35px;

     font-weight: 600;
     font-size: 2.25rem;
}
.firstSubText {
     margin-bottom: 22px;

     font-weight: 500;
     font-size: 2.25rem;
}
.heroText {
     margin-bottom: 22px;

     font-weight: 800;
     font-size: 4rem;
}
.secondSubText {
     margin-bottom: 78px;

     font-weight: 500;
     font-size: 2.25rem;
}
.button {
     margin-bottom: 28px;

     border-radius: 60px;

     padding: 30px 0;

     width: 100%;

     background: var(--header-button-background);

     font-size: 1.75rem;
     font-weight: 600;
}
.buttonSubText {
     text-align: center;
}
