.Header {
     width: 100%;
     height: 100vh;

     border-radius: 0 0 40px 40px;

     background-image: url("../../Assets/Images/headerBackground.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
