.flatInputContainer {
     max-width: 320px;

     display: flex;
     flex-direction: column;
}

.FlatInput {
     border-bottom: 2px solid var(--crimson-90);
     border-radius: var(--app-border-radius);

     padding: 5px;

     width: 100%;

     background-color: var(--blue-07);
}
.label {
     margin-bottom: 10px;
}
