.HowItWorksSection {
     border-radius: var(--section-boder-radius);

     padding: var(--section-padding);
     padding-top: 100px;
     padding-bottom: 80px;

     background: var(--how-it-works-background);
}
.container {
     margin: 0 auto;

     max-width: 1600px;

     background-image: url("./Assets/questionBackground.png");
     background-repeat: no-repeat;
     background-size: contain;
     background-position: top center;

     display: flex;
     align-items: center;
     flex-direction: column;
}
.heading {
     margin-bottom: 100px;
}
@media screen and (max-width: 545px) {
     .heading {
          margin-bottom: 20px;
     }
}
.list {
     margin-bottom: 30px;

     max-width: 1180px;
     width: 100%;
}
.item {
     margin-bottom: 15px;

     width: 100%;
     max-width: 1180px;

     display: flex;
     align-items: center;
}
@media screen and (max-width: 768px) {
     .item {
          flex-direction: column;
     }
}
.number {
     width: 300px;

     display: block;

     font-size: 21rem;
     color: var(--purpule-50);
     line-height: 1.25;
}
@media screen and (max-width: 1680px) {
     .number {
          font-size: 18rem;
     }
}
@media screen and (max-width: 768px) {
     .number {
          width: auto;

          font-size: 10rem;
          line-height: normal;
     }
}
.textContainer {
     max-width: 974px;
     width: 100%;
}
.contentHeading {
     margin-bottom: 36px;

     font-size: 2.15rem;
     font-weight: 700;
}
@media screen and (max-width: 545px) {
     .contentHeading {
          font-size: 1.5rem;
     }
}
.text {
     font-size: 1.75rem;
}
@media screen and (max-width: 545px) {
     .text {
          font-size: 1.25rem;
     }
}
.actionCall {
     margin-bottom: 20px;

     font-weight: 600;
     font-size: 1rem;
}

.actionButton {
     border-radius: 60px;

     padding: 14px 0;

     max-width: 564px;
     width: 100%;

     background-color: var(--purpule-40);
}
