.purpule50 {
     color: var(--purpule-50);
}
.purpule80 {
     color: var(--purpule-80);
}

.crimson90 {
     color: var(--crimson-90);
}

.headingFontSize {
     font-size: 2.25rem;
}
.headingFontWeight {
     font-weight: 600;
}
.headingTextAlign {
     text-align: start;
}
.startTextAlign {
     text-align: start;
}
.centerTextAlign {
     text-align: center;
}
